body {
  background: url("http://www.andermatt-swissalps.ch/fileadmin/user_upload/Location/Andermatt/Back_Andermatt.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#no-button {
  display: none;
}

#account {
  display: none;
}

#page-header {
  margin-top: 50px;
  padding-top: 0px;
}

#page-title {
  margin: 0px;
  padding-bottom: 21px;
}

th {
  text-align: center;
}

#history-header {
  margin-bottom: 0px;
}

td {
  text-align: center;
}
